/*
classes and descriptions
1. .archive-posts-wraper-hospital -- for archives below main with for full 100% width without sidebar
2. .single-post-wraper-hospital-- for single post with side bar active
3. .title-hospital-wraper-- for title wraper
4. .hospital-author-meta  -- authorprofile on author-profile.php
5. .hospital-contact-form-- author contact form author-profile.php




====================
Media queries
====================
*/
/* Mobiles in Potrait mode */
@media only screen
and (max-width : 320px) {
  .archive-posts-wraper-hospital, .title-hospital-wraper, .single-post-wraper-hospital{
    margin: auto;
    width :304px;
  }

  .hospital-author-meta , .hospital-contact-form {
    width: 290px;
    margin: auto;
  }



}

/* Mobiles in landscape mode */
@media only screen
and (min-width : 321px)
and (max-width : 620px) {
  .archive-posts-wraper-hospital, .title-hospital-wraper, .single-post-wraper-hospital{
    margin: auto;
    width :304px;
  }

  .hospital-author-meta , .hospital-contact-form {
    width: 290px;
    margin: auto;
  }


}

/* Tablets */
@media only screen
and (min-width : 620px)
and (max-width : 1000px) {
  .archive-posts-wraper-hospital, .title-hospital-wraper, .single-post-wraper-hospital{
    margin: auto;
    width :608px;
  }
  .hospital-author-meta , .hospital-contact-form {
    width: 290px;
    margin: auto;
  }


}

/* Desktops and laptops computers */
@media only screen
and (min-width : 1000px)
and (max-width : 1300px) {
  .archive-posts-wraper-hospital, .title-hospital-wraper{
    margin: auto;
    width :912px;
  }

  .single-post-wraper-hospital{
    margin: auto;
    width :608px;
  }

  .hospital-author-meta , .hospital-contact-form {
    width: 456px;
    margin: auto;
  }


}

/* very large screen devices */
@media only screen
and (min-width : 1300px) {
  .archive-posts-wraper-hospital, .title-hospital-wraper{
    margin: auto;
    width :912px;
  }

  .single-post-wraper-hospital{
    margin: auto;
    width :608px;
  }

  .hospital-author-meta , .hospital-contact-form {
    width: 456px;
    margin: auto;
  }


}
/* For print */

@media print {
/* Add your style here */
}






.entry-title-hospital {
font-family: Montserrat, "Helvetica Neue", sans-serif;
font-size: 28px;
font-size: 1.75rem;
font-weight: 700;
line-height: 1.25;
margin-bottom: 1em;
}

.entry-title-hospital a,
.author-links a {
color: #1a1a1a;

}

.entry-title-hospital a:hover,
.entry-title-hospital a:focus,
.author-links a:hover,
.author-links a:focus
 {
color: #007acc;
}

.archive-post-hospital{
  width:300px;
  padding:4px 4px 4px 4px;
  border:1px solid black;
  float:left;
  height: 340px;
  border: 1px solid black;
  margin: 2px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2%;
}



.hospital-old-new-posts{
  margin-top: 50px;
  margin-top: 1.50rem;
}

.content-area-without-sidebar-hospital{
  width:100%;
}
.single-post-wraper-hospital{
  max-width: 800px;
}

/* this is for autho .php*/
.hospital-author-meta , .hospital-contact-form {
  float:left;
  margin:auto;
  min-width: 290px;

}



/*
this is for ajax loading
*/

.spinner {
display: none;
}




/*
============================================================
Below styles are meant overide twentysixteen stylles
These may be required change when parent theme is changed.
============================================================
*/
.site .avatar {
    border-radius: 2%;
}

img:hover {
    opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


main .widget{
  border: none;
}

.site-header {
padding-top:0.0em;
margin:0px;
}


.header-image .img{
margin-top:0px;
padding-top: 0px;
/*height: auto;*/
/*max-width: 100%;*/
display: block;
margin: auto;

}
